.jumbotron
  %h1 Thoughts are streaming

  %p
    ThoughtStream is the premiere place on the internet to live-stream thoughts with friends in 128 characters or less.

  %a.btn.btn-primary.btn-lg{href: '#'}
    Shut up and take my
    %s<
      money
    personal information