- if user.related_thoughts.count > 0
  .list-group.thoughts-list{id: "related-thoughts-list:#{user.id}"}
    - user.related_thoughts.includes(:user).order(created_at: :desc).each do |thought|
      = render 'thoughts/thought', thought: thought